src/userserver/MDMUserServicePS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N1:definitions name="GetDataImplService" targetNamespace="http://impl.service.userquery.mdms.soft.com/" xmlns:WL5G3N0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N1="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N2="http://impl.service.userquery.mdms.soft.com/" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy WL5G3N1:Required="true"/>
  <wsp:Policy WL5G3N0:Id="Mtom.xml">
    <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp:Policy>
  <WL5G3N1:types>
    <xsd:schema targetNamespace="http://impl.service.userquery.mdms.soft.com/" version="1.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://impl.service.userquery.mdms.soft.com/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.userquery.mdms.soft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="result" type="tns:result"/>
      <xsd:complexType name="requestMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" type="tns:message"/>
          <xsd:element minOccurs="0" name="noun" type="xs:string"/>
          <xsd:element minOccurs="0" name="user" type="tns:user"/>
          <xsd:element minOccurs="0" name="verb" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ifPhoto" type="xs:int"/>
          <xsd:element minOccurs="0" name="oper_type" type="xs:int"/>
          <xsd:element minOccurs="0" name="psid" type="xs:string"/>
          <xsd:element minOccurs="0" name="syscode" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="user">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="orgId" type="xs:string"/>
          <xsd:element minOccurs="0" name="userId" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="responseMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="content" type="xs:string"/>
          <xsd:element minOccurs="0" name="errorMessage" type="tns:errorMessage"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" nillable="true" ref="tns:result"/>
          <xsd:element minOccurs="0" name="state" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="errorMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errorCode" type="xs:string"/>
          <xsd:element minOccurs="0" name="message" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="result">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="responsetime" type="xs:string"/>
          <xsd:element minOccurs="0" name="pk_psnbasdoc" type="xs:string"/>
          <xsd:element minOccurs="0" name="psnid" type="xs:string"/>
          <xsd:element minOccurs="0" name="psnname" type="xs:string"/>
          <xsd:element minOccurs="0" name="sex" type="xs:string"/>
          <xsd:element minOccurs="0" name="org_code" type="xs:string"/>
          <xsd:element minOccurs="0" name="old_org_code" type="xs:string"/>
          <xsd:element minOccurs="0" name="job_code" type="xs:string"/>
          <xsd:element minOccurs="0" name="psnclass" type="xs:string"/>
          <xsd:element minOccurs="0" name="psnclassname" type="xs:string"/>
          <xsd:element minOccurs="0" name="psntype" type="xs:string"/>
          <xsd:element minOccurs="0" name="indutydate" type="xs:string"/>
          <xsd:element minOccurs="0" name="mail" type="xs:string"/>
          <xsd:element minOccurs="0" name="phone" type="xs:string"/>
          <xsd:element minOccurs="0" name="birthday" type="xs:string"/>
          <xsd:element minOccurs="0" name="remark1" type="xs:string"/>
          <xsd:element minOccurs="0" name="remark2" type="xs:string"/>
          <xsd:element minOccurs="0" name="outdutydate" type="xs:string"/>
          <xsd:element minOccurs="0" name="pk_corp" type="xs:string"/>
          <xsd:element minOccurs="0" name="id" type="xs:string"/>
          <xsd:element minOccurs="0" name="pk_deptdoc" type="xs:string"/>
          <xsd:element minOccurs="0" name="ts" type="xs:string"/>
          <xsd:element minOccurs="0" name="dr" type="xs:string"/>
          <xsd:element minOccurs="0" name="dataHandler" ns1:expectedContentTypes="application/octet-stream" type="xs:base64Binary" xmlns:ns1="http://www.w3.org/2005/05/xmlmime"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N1:types>
  <WL5G3N1:message name="getData">
    <WL5G3N1:part name="arg0" type="WL5G3N2:requestMessage"/>
  </WL5G3N1:message>
  <WL5G3N1:message name="getDataResponse">
    <WL5G3N1:part name="return" type="WL5G3N2:responseMessage"/>
  </WL5G3N1:message>
  <WL5G3N1:portType name="IGetData">
    <WL5G3N1:operation name="getData">
      <WL5G3N1:input message="WL5G3N2:getData" name="getData"/>
      <WL5G3N1:output message="WL5G3N2:getDataResponse" name="getDataResponse"/>
    </WL5G3N1:operation>
  </WL5G3N1:portType>
  <WL5G3N1:binding name="GetDataImplServiceSoapBinding" type="WL5G3N2:IGetData">
    <wsp:Policy>
      <wsp:PolicyReference URI="#Mtom.xml"/>
    </wsp:Policy>
    <WL5G3N3:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N1:operation name="getData">
      <WL5G3N3:operation style="rpc"/>
      <WL5G3N1:input name="getData">
        <WL5G3N3:body namespace="http://impl.service.userquery.mdms.soft.com/" use="literal"/>
      </WL5G3N1:input>
      <WL5G3N1:output name="getDataResponse">
        <WL5G3N3:body namespace="http://impl.service.userquery.mdms.soft.com/" use="literal"/>
      </WL5G3N1:output>
    </WL5G3N1:operation>
  </WL5G3N1:binding>
  <WL5G3N1:service name="GetDataImplService">
    <WL5G3N1:port binding="WL5G3N2:GetDataImplServiceSoapBinding" name="GetDataImplPort">
      <WL5G3N3:address location="http://10.1.13.26:7001/SyncServiceWX/MDM/PS/MDMUserServicePS"/>
    </WL5G3N1:port>
  </WL5G3N1:service>
</WL5G3N1:definitions>