src/jobserver/MDMJobServicePS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="GetDataImplService" targetNamespace="http://impl.service.jobquery.mdms.soft.com/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://impl.service.jobquery.mdms.soft.com/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://impl.service.jobquery.mdms.soft.com/" version="1.0" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.jobquery.mdms.soft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="getData" type="tns:getData"/>
      <xsd:element name="getDataResponse" type="tns:getDataResponse"/>
      <xsd:complexType name="getData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="tns:requestMessage"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="requestMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" type="tns:message"/>
          <xsd:element minOccurs="0" name="noun" type="xs:string"/>
          <xsd:element minOccurs="0" name="user" type="tns:user"/>
          <xsd:element minOccurs="0" name="verb" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="job_code" type="xs:string"/>
          <xsd:element minOccurs="0" name="oper_type" type="xs:int"/>
          <xsd:element minOccurs="0" name="syscode" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="user">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="orgId" type="xs:string"/>
          <xsd:element minOccurs="0" name="userId" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getDataResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="tns:responseMessage"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="responseMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="content" type="xs:string"/>
          <xsd:element minOccurs="0" name="errorMessage" type="tns:errorMessage"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="result" nillable="true" type="tns:result"/>
          <xsd:element minOccurs="0" name="state" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="errorMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errorCode" type="xs:string"/>
          <xsd:element minOccurs="0" name="message" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="result">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="duty_code" type="xs:string"/>
          <xsd:element minOccurs="0" name="job_code" type="xs:string"/>
          <xsd:element minOccurs="0" name="job_level" type="xs:string"/>
          <xsd:element minOccurs="0" name="job_name" type="xs:string"/>
          <xsd:element minOccurs="0" name="job_short_name" type="xs:string"/>
          <xsd:element minOccurs="0" name="org_code" type="xs:string"/>
          <xsd:element minOccurs="0" name="org_dept" type="xs:string"/>
          <xsd:element minOccurs="0" name="remark1" type="xs:string"/>
          <xsd:element minOccurs="0" name="remark2" type="xs:string"/>
          <xsd:element minOccurs="0" name="responsetime" type="xs:string"/>
          <xsd:element minOccurs="0" name="status" type="xs:int"/>
          <xsd:element minOccurs="0" name="status_date" type="xs:string"/>
          <xsd:element minOccurs="0" name="suporior" type="xs:string"/>
          <xsd:element minOccurs="0" name="uni_org_code" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="getData">
    <WL5G3N0:part element="WL5G3N1:getData" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getDataResponse">
    <WL5G3N0:part element="WL5G3N1:getDataResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="IGetData">
    <WL5G3N0:operation name="getData">
      <WL5G3N0:input message="WL5G3N1:getData" name="getData"/>
      <WL5G3N0:output message="WL5G3N1:getDataResponse" name="getDataResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="GetDataImplServiceSoapBinding" type="WL5G3N1:IGetData">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="getData">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input name="getData">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="getDataResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="GetDataImplService">
    <WL5G3N0:port binding="WL5G3N1:GetDataImplServiceSoapBinding" name="GetDataImplPort">
      <WL5G3N2:address location="http://10.1.13.26:7001/SyncServiceWX/MDM/PS/MDMJobServicePS"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>