src/serverNoticeInterface/NoticeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.1.14.52:7002/demoserver/services/NoticeService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.1.14.52:7002/demoserver/services/NoticeService" xmlns:intf="http://10.1.14.52:7002/demoserver/services/NoticeService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://localhost:8080/services/NoticeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://localhost:8080/services/NoticeService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Message">
    <sequence>
     <element name="job_code" nillable="true" type="xsd:string"/>
     <element name="org_code" nillable="true" type="xsd:string"/>
     <element name="psid" nillable="true" type="xsd:string"/>
     <element name="pstatus" nillable="true" type="xsd:string"/>
     <element name="syscode" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <sequence>
     <element name="userId" nillable="true" type="xsd:string"/>
     <element name="orgId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RequestMessage">
    <sequence>
     <element name="message" nillable="true" type="tns1:Message"/>
     <element name="noun" nillable="true" type="xsd:string"/>
     <element name="user" nillable="true" type="tns1:User"/>
     <element name="verb" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ErrorMessage">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ResponseMessage">
    <sequence>
     <element name="content" nillable="true" type="xsd:string"/>
     <element name="errorMessage" nillable="true" type="tns1:ErrorMessage"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

     <wsdl:message name="huaInterfaceRequest">

          <wsdl:part name="sysflag" type="xsd:string"/>

          <wsdl:part name="datastr" type="xsd:string"/>

          <wsdl:part name="objtype" type="xsd:string"/>

          <wsdl:part name="opflag" type="xsd:string"/>

     </wsdl:message>

     <wsdl:message name="huaInterfaceResponse">

          <wsdl:part name="huaInterfaceReturn" type="xsd:string"/>

     </wsdl:message>

     <wsdl:message name="getobjstrRequest">

          <wsdl:part name="id" type="xsd:string"/>

          <wsdl:part name="tablename" type="xsd:string"/>

          <wsdl:part name="pkname" type="xsd:string"/>

     </wsdl:message>

     <wsdl:message name="getobjstrResponse">

          <wsdl:part name="getobjstrReturn" type="xsd:string"/>

     </wsdl:message>

     <wsdl:message name="testmd5Request">

          <wsdl:part name="accountid" type="xsd:string"/>

     </wsdl:message>

     <wsdl:message name="testmd5Response">

          <wsdl:part name="testmd5Return" type="xsd:string"/>

     </wsdl:message>

     <wsdl:message name="SetDataRequest">

          <wsdl:part name="input" type="tns1:RequestMessage"/>

     </wsdl:message>

     <wsdl:message name="SetDataResponse">

          <wsdl:part name="SetDataReturn" type="tns1:ResponseMessage"/>

     </wsdl:message>

     <wsdl:portType name="NoticeInterface">

          <wsdl:operation name="huaInterface" parameterOrder="sysflag datastr objtype opflag">

               <wsdl:input message="intf:huaInterfaceRequest" name="huaInterfaceRequest"/>

               <wsdl:output message="intf:huaInterfaceResponse" name="huaInterfaceResponse"/>

          </wsdl:operation>

          <wsdl:operation name="getobjstr" parameterOrder="id tablename pkname">

               <wsdl:input message="intf:getobjstrRequest" name="getobjstrRequest"/>

               <wsdl:output message="intf:getobjstrResponse" name="getobjstrResponse"/>

          </wsdl:operation>

          <wsdl:operation name="testmd5" parameterOrder="accountid">

               <wsdl:input message="intf:testmd5Request" name="testmd5Request"/>

               <wsdl:output message="intf:testmd5Response" name="testmd5Response"/>

          </wsdl:operation>

          <wsdl:operation name="SetData" parameterOrder="input">

               <wsdl:input message="intf:SetDataRequest" name="SetDataRequest"/>

               <wsdl:output message="intf:SetDataResponse" name="SetDataResponse"/>

          </wsdl:operation>

     </wsdl:portType>

     <wsdl:binding name="NoticeServiceSoapBinding" type="intf:NoticeInterface">

          <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

          <wsdl:operation name="huaInterface">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="huaInterfaceRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://baosight" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="huaInterfaceResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.14.52:7002/demoserver/services/NoticeService" use="encoded"/>

               </wsdl:output>

          </wsdl:operation>

          <wsdl:operation name="getobjstr">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="getobjstrRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://baosight" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="getobjstrResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.14.52:7002/demoserver/services/NoticeService" use="encoded"/>

               </wsdl:output>

          </wsdl:operation>

          <wsdl:operation name="testmd5">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="testmd5Request">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://baosight" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="testmd5Response">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.14.52:7002/demoserver/services/NoticeService" use="encoded"/>

               </wsdl:output>

          </wsdl:operation>

          <wsdl:operation name="SetData">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="SetDataRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://baosight" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="SetDataResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.14.52:7002/demoserver/services/NoticeService" use="encoded"/>

               </wsdl:output>

          </wsdl:operation>

     </wsdl:binding>

     <wsdl:service name="NoticeInterfaceService">

          <wsdl:port binding="intf:NoticeServiceSoapBinding" name="NoticeService">

               <wsdlsoap:address location="http://10.1.14.52:7002/demoserver/services/NoticeService"/>

          </wsdl:port>

     </wsdl:service>

</wsdl:definitions>
