src/baosight/NoticeInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://baosight" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://baosight" xmlns:intf="http://baosight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://baosight" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Message">
    <sequence>
     <element name="job_code" nillable="true" type="xsd:string"/>
     <element name="org_code" nillable="true" type="xsd:string"/>
     <element name="psid" nillable="true" type="xsd:string"/>
     <element name="pstatus" nillable="true" type="xsd:string"/>
     <element name="syscode" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <sequence>
     <element name="userId" nillable="true" type="xsd:string"/>
     <element name="orgId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RequestMessage">
    <sequence>
     <element name="message" nillable="true" type="impl:Message"/>
     <element name="noun" nillable="true" type="xsd:string"/>
     <element name="user" nillable="true" type="impl:User"/>
     <element name="verb" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="input" type="impl:RequestMessage"/>
   <complexType name="ErrorMessage">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ResponseMessage">
    <sequence>
     <element name="content" nillable="true" type="xsd:string"/>
     <element name="errorMessage" nillable="true" type="impl:ErrorMessage"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="SetDataReturn" type="impl:ResponseMessage"/>
   <element name="datastr" type="xsd:string"/>
   <element name="objtype" type="xsd:string"/>
   <element name="opflag" type="xsd:string"/>
   <element name="huaInterfaceReturn" type="xsd:string"/>
   <element name="id" type="xsd:string"/>
   <element name="tablename" type="xsd:string"/>
   <element name="pkname" type="xsd:string"/>
   <element name="getobjstrReturn" type="xsd:string"/>
   <element name="accountid" type="xsd:string"/>
   <element name="testmd5Return" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="SetDataRequest">

      <wsdl:part element="impl:input" name="input"/>

   </wsdl:message>

   <wsdl:message name="huaInterfaceResponse">

      <wsdl:part element="impl:huaInterfaceReturn" name="huaInterfaceReturn"/>

   </wsdl:message>

   <wsdl:message name="testmd5Response">

      <wsdl:part element="impl:testmd5Return" name="testmd5Return"/>

   </wsdl:message>

   <wsdl:message name="getobjstrRequest">

      <wsdl:part element="impl:id" name="id"/>

      <wsdl:part element="impl:tablename" name="tablename"/>

      <wsdl:part element="impl:pkname" name="pkname"/>

   </wsdl:message>

   <wsdl:message name="huaInterfaceRequest">

      <wsdl:part element="impl:datastr" name="datastr"/>

      <wsdl:part element="impl:objtype" name="objtype"/>

      <wsdl:part element="impl:opflag" name="opflag"/>

   </wsdl:message>

   <wsdl:message name="SetDataResponse">

      <wsdl:part element="impl:SetDataReturn" name="SetDataReturn"/>

   </wsdl:message>

   <wsdl:message name="getobjstrResponse">

      <wsdl:part element="impl:getobjstrReturn" name="getobjstrReturn"/>

   </wsdl:message>

   <wsdl:message name="testmd5Request">

      <wsdl:part element="impl:accountid" name="accountid"/>

   </wsdl:message>

   <wsdl:portType name="NoticeInterface">

      <wsdl:operation name="SetData" parameterOrder="input">

         <wsdl:input message="impl:SetDataRequest" name="SetDataRequest"/>

         <wsdl:output message="impl:SetDataResponse" name="SetDataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="huaInterface" parameterOrder="datastr objtype opflag">

         <wsdl:input message="impl:huaInterfaceRequest" name="huaInterfaceRequest"/>

         <wsdl:output message="impl:huaInterfaceResponse" name="huaInterfaceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getobjstr" parameterOrder="id tablename pkname">

         <wsdl:input message="impl:getobjstrRequest" name="getobjstrRequest"/>

         <wsdl:output message="impl:getobjstrResponse" name="getobjstrResponse"/>

      </wsdl:operation>

      <wsdl:operation name="testmd5" parameterOrder="accountid">

         <wsdl:input message="impl:testmd5Request" name="testmd5Request"/>

         <wsdl:output message="impl:testmd5Response" name="testmd5Response"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NoticeInterfaceSoapBinding" type="impl:NoticeInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="SetData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="huaInterface">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="huaInterfaceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="huaInterfaceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getobjstr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getobjstrRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getobjstrResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testmd5">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testmd5Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testmd5Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NoticeInterfaceService">

      <wsdl:port binding="impl:NoticeInterfaceSoapBinding" name="NoticeInterface">

         <wsdlsoap:address location="http://localhost:8080//services/baosight/NoticeInterface"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
