src/baosight/queryInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://baosight" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://baosight" xmlns:intf="http://baosight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://baosight" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="infotype" type="xsd:string"/>
   <element name="syscode" type="xsd:string"/>
   <element name="opertype" type="xsd:int"/>
   <element name="infocode" type="xsd:string"/>
   <element name="userid" type="xsd:string"/>
   <element name="orgid" type="xsd:string"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="TestReturn" type="impl:ArrayOf_xsd_anyType"/>
   <element name="IniOrgReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="IniOrgResponse">

      <wsdl:part element="impl:IniOrgReturn" name="IniOrgReturn"/>

   </wsdl:message>

   <wsdl:message name="TestRequest">

      <wsdl:part element="impl:infotype" name="infotype"/>

      <wsdl:part element="impl:syscode" name="syscode"/>

      <wsdl:part element="impl:opertype" name="opertype"/>

      <wsdl:part element="impl:infocode" name="infocode"/>

      <wsdl:part element="impl:userid" name="userid"/>

      <wsdl:part element="impl:orgid" name="orgid"/>

   </wsdl:message>

   <wsdl:message name="IniOrgRequest">

   </wsdl:message>

   <wsdl:message name="TestResponse">

      <wsdl:part element="impl:TestReturn" name="TestReturn"/>

   </wsdl:message>

   <wsdl:portType name="queryInterface">

      <wsdl:operation name="Test" parameterOrder="infotype syscode opertype infocode userid orgid">

         <wsdl:input message="impl:TestRequest" name="TestRequest"/>

         <wsdl:output message="impl:TestResponse" name="TestResponse"/>

      </wsdl:operation>

      <wsdl:operation name="IniOrg">

         <wsdl:input message="impl:IniOrgRequest" name="IniOrgRequest"/>

         <wsdl:output message="impl:IniOrgResponse" name="IniOrgResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="queryInterfaceSoapBinding" type="impl:queryInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Test">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="TestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="TestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="IniOrg">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="IniOrgRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="IniOrgResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="queryInterfaceService">

      <wsdl:port binding="impl:queryInterfaceSoapBinding" name="queryInterface">

         <wsdlsoap:address location="http://localhost:8080//services/baosight/queryInterface"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
