src/baosight/queryInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://baosight" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://baosight" xmlns:intf="http://baosight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://baosight" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="basetype" type="xsd:string"/>
   <element name="basetable" type="xsd:string"/>
   <element name="IniBaseDataReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="IniBaseDataResponse">

      <wsdl:part element="impl:IniBaseDataReturn" name="IniBaseDataReturn"/>

   </wsdl:message>

   <wsdl:message name="IniBaseDataRequest">

      <wsdl:part element="impl:basetype" name="basetype"/>

      <wsdl:part element="impl:basetable" name="basetable"/>

   </wsdl:message>

   <wsdl:portType name="queryInterface">

      <wsdl:operation name="IniBaseData" parameterOrder="basetype basetable">

         <wsdl:input message="impl:IniBaseDataRequest" name="IniBaseDataRequest"/>

         <wsdl:output message="impl:IniBaseDataResponse" name="IniBaseDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="queryInterfaceSoapBinding" type="impl:queryInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="IniBaseData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="IniBaseDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="IniBaseDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="queryInterfaceService">

      <wsdl:port binding="impl:queryInterfaceSoapBinding" name="queryInterface">

         <wsdlsoap:address location="http://localhost:8080//services/baosight/queryInterface"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
