src/example/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="a" type="xsd:int"/>
   <element name="b" type="xsd:int"/>
   <element name="addReturn" type="xsd:int"/>
   <element name="testReturn" type="xsd:string"/>
   <element name="stype" type="xsd:string"/>
   <element name="sop" type="xsd:string"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="testexReturn" type="impl:ArrayOf_xsd_anyType"/>
   <element name="getuserReturn" type="xsd:string"/>
   <element name="from" type="xsd:string"/>
   <element name="sayHelloWorldFromReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getuserResponse">

      <wsdl:part element="impl:getuserReturn" name="getuserReturn"/>

   </wsdl:message>

   <wsdl:message name="testResponse">

      <wsdl:part element="impl:testReturn" name="testReturn"/>

   </wsdl:message>

   <wsdl:message name="testexResponse">

      <wsdl:part element="impl:testexReturn" name="testexReturn"/>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromResponse">

      <wsdl:part element="impl:sayHelloWorldFromReturn" name="sayHelloWorldFromReturn"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addReturn" name="addReturn"/>

   </wsdl:message>

   <wsdl:message name="testexRequest">

      <wsdl:part element="impl:stype" name="stype"/>

      <wsdl:part element="impl:sop" name="sop"/>

   </wsdl:message>

   <wsdl:message name="testRequest">

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:a" name="a"/>

      <wsdl:part element="impl:b" name="b"/>

   </wsdl:message>

   <wsdl:message name="getuserRequest">

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromRequest">

      <wsdl:part element="impl:from" name="from"/>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="add" parameterOrder="a b">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="test">

         <wsdl:input message="impl:testRequest" name="testRequest"/>

         <wsdl:output message="impl:testResponse" name="testResponse"/>

      </wsdl:operation>

      <wsdl:operation name="testex" parameterOrder="stype sop">

         <wsdl:input message="impl:testexRequest" name="testexRequest"/>

         <wsdl:output message="impl:testexResponse" name="testexResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getuser">

         <wsdl:input message="impl:getuserRequest" name="getuserRequest"/>

         <wsdl:output message="impl:getuserResponse" name="getuserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorldFrom" parameterOrder="from">

         <wsdl:input message="impl:sayHelloWorldFromRequest" name="sayHelloWorldFromRequest"/>

         <wsdl:output message="impl:sayHelloWorldFromResponse" name="sayHelloWorldFromResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="test">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testex">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testexRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testexResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getuser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getuserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getuserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorldFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldFromRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldFromResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8080//services/example/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
